body{ 
    background-color: #cbd6d1;
    cursor: url('croissant.png'), auto;
    display: flex;
    align-items: baseline;
    height: 100vh;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 0%;
    margin-bottom: 0%;
}
h1{
    font-family: 'Josefin Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 7vw;
    margin: 0;
    display: flex;
    text-decoration: underline 5px;
}
#blue{
    color:#7E78C1;
}
#white{
    color:white;
}
#red{
    color: #D86060;
}
h2{
    font-family: 'Josefin Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 2vw;
    width: 25vw;
    display: flex;
}